*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #16384c;
  font-family: Arial, Helvetica, sans-serif;
}

.yun{
  margin-top: 10%;
}

.yun h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.hehe{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.hehe .pic_member{
  background: #D7E2EA;
  margin: 5px;
  margin-bottom: 50px;
  width: 350px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.hehe .pic_member h3{
  color: #4070f4;
  font-size: 26px;
  margin-top: 70px;
  
  
}

.hehe .pic_member p.role{
  color: black;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.hehe .pic_member .yung_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #4070f4;
  border: 5px solid #fff;
  object-fit: cover;
  padding: 0px;
  
}

.hehe .pic_member .yung_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}
